/*
 * ABOUT PAGE
 */

.about--layer {
	background-image: $backgroundTexture; 
	background-repeat: repeat;
	margin-top: 300px;
	z-index: 1;
	@media #{$medium} {
		margin-top: 400px;
	}
}

.img-span {
	background: black;
	position: fixed;
	width: 100%;
	height: 300px;
	z-index: -1;
	@media #{$medium} {
		height: 400px;
	}
}

.img-span-img {
	display: block;
	margin: 0;
	transform: scale(0.75) translate(-570px, -420px);
	@media #{$medium} {
		margin: 0 0 0 auto;
		transform: scale(0.9) translate(150px, -250px);
	}
}

@media #{$large} {
	.about--item {
		max-width: 45%;
		&__wide {
			max-width: 75%;
		}
	}
}
