/*
 * Main CSS
 */

body {
	background-image: $backgroundTexture;
	background-repeat: repeat;
	background-attachment: scroll;
	font-family: $fontB;
	font-weight: 600;
	color: $contentColor_A;
}

%cts-body {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	font-family: $fontA;
	letter-spacing: 0.01em;
	line-height: 150%;
	text-align: left;
}

#cts-body {
	width: 50%;
	margin: 0 auto;
	@extend %cts-body;
	@media #{$media-mobile} {
		width: 100%;
		padding: 50px 10px 10px 10px;
	}
}

#cts-body__blank {
	width: 100%;
	padding-top: 50px;
}

#cts-body__wide {
	width: 100%;
	padding-top: 50px;
	@extend %cts-body;
}

#cts-footer {
	padding: 0;
}

a {
	text-decoration: none;

	&:link {
		color: $linkColor;
	}

	&:visited {
		color: $linkColor;
	}
}

// Page banner
.banner {
	display: block;
	width: 100%;
	background: $banner-background;
	color: $banner-text-color;
	font-size: 1.5rem;
	font-weight: 200;
	padding: 10px;
	text-align: right;
	
	&-fixed {
		position: fixed;
		top: 50px;
	}
	@media #{$medium} {
		font-size: 2.5em;
	}
}

.content-centered {
	width: 100%;
	@media #{$medium} {
		width: 50%;
		margin: 0 auto;
	}
}


/*
 * Flex Container Classes
 */

.container {
	display: flex;
	flex-wrap: wrap;
}

.container-horizontal {
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}

.container-centered {
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.container-vertical {
	width: 100%;
	flex-direction: column;	
	justify-content: flex-start;
	align-items: flex-start;
}

.container-vertical-centered {
	width: 100%;
	flex-direction: column;	
	justify-content: flex-start;
	align-items: center;
}

.container-fullWidth {
	width: 100%;
}

.width__full {
	width: 100%;
}

.container-halfWidth {
	width: 100%;
	@media #{$medium} {
		width: 50%;
	}
}


.item {
	margin: 10px;
	padding: 15px;
	width: 100%;
	flex-basis: auto;
	font-size: 0.75rem;
	flex-grow: 1;

	&-title {
		font-weight: 200;
		font-size: 1.5em;
	}
	&-subtitle {
		font-size: 1.15em;
		margin: 10px 0 10px 0;
	}
	&-details {
		font-size: 1em;
		font-weight: 200;
		margin: 10px 0 10px 0;
		line-height: 125%;
		> a {
			color: black;
			font-weight: 400;
		}
		> ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			li {
				margin: 5px 10px 5px 0;
			}
		}
	}
	@media #{$medium} {
		font-size: 1rem;
	}
}

.sticky {
	background: white;
	box-shadow: 5px 5px 20px #aaa;
}

.item-wide {
	flex-basis: 75%;
}

.force-word-wrap {
	word-wrap: break-word;
	word-break: break-word;
}

.block-quote {
	font-family: $fontB; 
	font-weight: 400;
	font-size: 2.5rem;
	line-height: 150%;
	@media #{$media-mobile} {
		line-height: 125%;
	}
}

.subheading {
	font-size: 1.5rem;
	text-align: center;
	padding: 20px 0 20px 0;
	font-weight: 400;
}

.fat-big-text {
	width: 100%; 
	text-align: center; 
	@media #{$media-mobile} {
		margin: 15px 0 15px 0;
	}
}

.standard-text {
	font-family: $fontB;
	font-weight: 400;
	line-height: 125%;
	> li {
		font-family: $fontB;
		font-weight: 400;
		line-height: 125%;
	}
}

.big-button {
	padding: 15px;
	border: $borderColor_B 2px solid;
	border-radius: 3px;
	color: $buttonText;
	background: $buttonBG;

	@media #{$media-desktop}
	{ 
		font-size: 2rem;
		&:hover {
			color: $buttonText-hover;
			background: $buttonBG-hover;
		}
	}

	@media #{$media-mobile} {
		font-size: 1.25rem;
	}
}

.spacer-50 {
	min-height: 50px;
	margin: 0;
	padding: 0;
}

.spacer-25 {
	min-height: 25px;
	margin: 0;
	padding: 0;
}
