/* 
 * Navigation (Menus)
 *
 */

.nav {
	position: fixed;
	top: 0;
	height: 50px;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	background: $navBackground;
	color: $menuColor;
	width: 100%;
	text-transform: uppercase;
	@media #{$large} {
		flex-direction: row;
	}
}

.nav--main-list {
	position: absolute;
	left: 0;
	top: 50px;
	display: block;
	list-style-type: none;
	font-family: $fontA; 
	font-size: 0.8rem;
	width: 100%;
	text-align: center;
	background: $navBackground--transparent;
	@media #{$large} {
		display: flex;
		flex-direction: row;
		position: relative;
		top: 0;
		width: auto;
		text-align: center;
		background: $navBackground;
	}

	> a, > div {
		display: block;
		width: 100%;
		color: $menuColor;
		position: relative;
		z-index: 5;
		
		@media #{$large} {
			display: inline;
			margin-right: 15px;
		}
	}
}

.nice-border {
	@media #{$large} {
		padding: 10px;
		border: solid 3px transparent;
		border-radius: 0px;
		transition: border 500ms;
		&:hover {
			border: solid 3px #ffffff;
			transition: border 250ms;
		}
	}
}

.nav--main-list__closed {
	visibility: hidden;
	padding: 0em;
	transition: all 500ms;
	> a, > div > div {
		line-height: 0em;
		opacity: 0;
		transition: all 500ms;
	}
	@media #{$large} {
		visibility: visible;
		> a, > div > div {
			padding: auto;
			opacity: 1;
			line-height: 1em;
		}
	}
}

.nav--main-list__open {
	visibility: visible;
	padding: 0.5em;
	transition: all 500ms;
	> a, > div > div {
		line-height: 3em;
		opacity: 1;
		transition: all 500ms;
	}
}

.dropdown--container {
	position: relative;
	@media #{$large} {
		margin: 0 15px 0 0;
	}
}

.dropdown--content {
	display: block;
	width: 50%;
	margin: 0 auto;
	min-width: 200px;
	max-width: 300px;
	overflow-y: hidden;
	> a {
		display: block;
		color: $menuColor;
		text-align: left;
		width: 75%;
		margin: 0 auto;
		line-height: 2em;
		letter-spacing: 0.05em;
	}
	@media #{$large} {
		position: absolute;
		height: 0;
		top: 42px;
		background: $navBackground;
		border: none;
		width: 160px;
		min-width: 160px;
		max-width: 160px;
		text-align: left;
		> a {
			margin: 0;
			padding: 0 0 0 10px;
			width: 100%;
			line-height: 0em;
			opacity: 0;
			transition: line-height 500ms, opacity 500ms;
			&:hover {
				background: rgba(255,255,255,0.5);
			}
		}
	}
}

.dropdown--content__open {
	visibility: visible;
	opacity: 1;
	padding: 1em 0;
	height: 8em;
	border-top: solid 1px #555555;
	border-bottom: solid 1px #555555;
	transition: padding 500ms, height 500ms, opacity 500ms, border-bottom 500ms, border-top 500ms;
	@media #{$large} {
		height: 0;
		padding: 0;
		border: none;
		visibility: visible;
		transition: height 500ms;
	}
}

.dropdown--content__closed {
	visibility: hidden;
	opacity: 0;
	padding: 0;
	height: 0;
	border-top: solid 1px transparent;
	border-bottom: solid 1px transparent;
	transition: padding 500ms, height 500ms, opacity 500ms, border-bottom 500ms, border-top 500ms, visibility 500ms linear 500ms;
	@media #{$large} {
		height: 0;
		padding: 0;
		border: none;
		visibility: visible;
		transition: height 500ms;
		
	}
}

.dropdown--container:hover .dropdown--content {
	@media #{$large} {
		height: 10.5em;
		padding: 4px 0 0 0;
		transition: height 500ms, opacity 500ms;
		> a {
			line-height: 3.5em;
			opacity: 1;
			transition: opacity 500ms, line-height 500ms;
		}
	}
}

#git-logo {
	height: 25px;
	margin-right: 15px;
	float: right;
	display: inline;
	vertical-align: -6px;
	@media #{$large} {
		margin-top: 0.7em;
		height: 2em;
	}
}

#home-button {
	display: inline-block;
	background-color: transparent;
	width: 200px;
	white-space: nowrap;
	text-decoration: none;
	letter-spacing: 0.05em;
	line-height: 100%;
	font-family: $fontB;
	font-size: 1rem;
	font-weight: 600;
	color: $menuColor;
	text-align: left;
	border: solid 3px transparent;
	padding-left: 5px;
	z-index: 15;
	@media #{$large} {
		color: white;
		font-size: 1.25rem;
		padding-left: 15px;
	}
}

#menu-button {
	position: relative;
	display: inline-block;
	padding: 0 10px 5px 0;
	text-align: right;
	line-height: 1em;
	font-family: $fontB;
	font-size: 2.5rem;
	cursor: pointer;
	@media #{$large} {
		display: none;
	}
}


