.portfolio {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.sample {
	background: white;
	font-family: $fontA;
	font-size: 0.7rem;
	font-weight: 200;
	line-height: 2em;
	border-radius: 10px;
	box-shadow: 10px 10px 50px #bbb;
	width: 300px;
	margin: 7px;
	img {
		height: auto;
	}
	@media #{$medium} {
		font-size: 1rem;
		margin: 15px;
		width: 600px;
		img {
			height: auto;
		}
	}
	&--text {
		padding: 0 10px 10px;
		@media #{$medium} {
			padding: 0 20px 20px;
		}
	}
	&--title {
		font-size: 1.5em;
		margin: 10px 0;
	}
	&--url {
		margin: 10px 0;
		a {
			text-decoration: underline;
			&:before {
				color: blue;
			}
			&:after {
				color: purple;
			}
		}
	}
}

.cp_embed_wrapper {
	/* required for resize to work */
	overflow: hidden;

	/* make resizeble! */
	resize: both;

	/* required to see the handle */
	background: white;
	padding-bottom: 10px;

	/* default height */
	height: 450px;
	width: 300px;
	@media #{$medium} {
		height: 300px;
		width: 600px;
	}
}
.cp_embed_wrapper iframe {
height: 100% !important;
}
