/*
 * ArtistSite Basic Theme
 *
 * Author: Cam Sexton
 * Date: May 2018
 *
 */

/*
 * CUSTOM PROPERTIES
 */

:root {
	--navBar-background: #000000;
	--splash-background: linear-gradient(-60deg, #7799dd, #ddaa22);
}

/*
 * THEME VARIABLES
 */

// fonts
$fontA: 'Raleway', sans-serif;
$fontB: 'Karla', sans-serif;


// default background variables
$backgroundTexture: url("/storage/app/media/tiny_grid.png"); 
$backgroundColor: #e4e4e4;

// splash page variables
$splashDark: #a09944;
$splashBack: var(--splash-background);
$splashColor: #ffffff;

// headings, banners
$banner-text-color: #fff; //#777;
$banner-background: linear-gradient(90deg, rgba(230,180,10,0) 10%, rgba(230,180,10,1));
$titlesColor: #000000;

// borders
$borderColor_A: white;
$borderColor_B: black;

// nav variables
$navBackground: var(--navBar-background);
$navBackground--transparent: rgba(0,0,0,0.85);
$navBackground-gradient: #000000;
$menuColor: #ffffff;

// button colors
$buttonText: black;
$buttonText-hover: white;
$buttonBG: transparent;
$buttonBG-hover: black;

// general text colors
$contentColor_A: #000000;
$contentColor_B: #555555;
$linkColor: #000000;

// schedule page
$scheduleItem-background: #000000 ;
$scheduleItem-background__hover: rgba(0, 0, 0, 0.35);

/*
 * MEDIA QUERIES
 */

$media-mobile: "(max-width: 1000px)";
$media-desktop: "(min-width: 1000px)";
$small: "screen and (max-width: 480px)";
$medium: "screen and (min-width: 481px)";
$large: "screen and (min-width: 901px)";
$huge: "screen and (min-width: 1200px)";
