
body {
	background-image: $backgroundTexture;
	background-repeat: repeat;
	background-attachment: scroll;
	font-family: $fontB;
	font-size: $std-fontSize + px;
	font-weight: 600;
	color: $contentColor_A;
}

a {
	text-decoration: none;

	&:link {
		color: $linkColor;
	}

	&:visited {
		color: $linkColor;
	}
}

// Page banner
.banner {
	display: block;
	width: 100%;
	background: $banner-background;
	color: $banner-text-color;
	font-size: 200%;
	font-weight: 200;
	padding: 20px;
	text-align: right;
	@media #{$media-mobile} {
		font-size: 100%;
		padding: 10px;
	}
	&-fixed {
		position: fixed;
		top: 50px;
	}
}

.content-centered {
	width: 100%;
	padding: 0 25% 0 25%;
	@media #{$media-mobile} {
		margin: 0;
		padding: 0;
	}
}
.container-horizontal {
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
}
.container-vertical {
	flex-direction: column;	
	justify-content: center;
	align-items: space-around;
}
.container-fullWidth {
	width: 100%;
}
.container-halfWidth {
	width: 50%;
	@media #{$media-mobile} {
		width: 100%;
	}
}
.container {
	display: flex;
	flex-wrap: wrap;

	> .item {
		background: white;
		box-shadow: 5px 5px 20px #aaa;
		margin: 30px;
		padding: 30px;
		flex-basis: 45%;
		> .item-title {
			font-weight: 200;
		}
		.subtitle {
			font-size: 75%;
			margin: 10px 0 10px 0;
		}
		> .details {
			font-size: 75%;
			font-weight: 200;
			margin: 10px 0 10px 0;
			line-height: 125%;
			> a {
				color: black;
				font-weight: 400;
			}
			> ul {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				li {
					margin-right: 10px;
				}
			}
		}
	}
	> .item-wide {
		flex-basis: 75%;
	}
	@media #{$media-mobile} {
		> .item {
			flex-basis: auto;
			font-size: 75%;
			padding: 15px;
			margin: 15px;
		}
	}
}

.force-word-wrap {
	word-wrap: break-word;
	word-break: break-word;
}

%cts-body {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	font-family: $fontA;
	letter-spacing: 0.01em;
	line-height: 150%;
	text-align: left;
}

#cts-body {
	width: 50%;
	margin: 0 auto;
	@extend %cts-body;
	@media #{$media-mobile} {
		width: 100%;
		padding: 50px 10px 10px 10px;
	}
}

#cts-body__blank {
	width: 100%;
	padding-top: 50px;

}

#cts-body__wide {
	width: 100%;
	padding-top: 50px;
	@extend %cts-body;
}

#cts-pageTitle {
	position: relative;
	text-align: center;
	font-family: $fontA;
	font-size: 200%;
	line-height: 100%;
	color: $titlesColor;
	padding-top: 50px;
	margin-bottom: 25px;
	z-index: -1;
}

#cts-mainContent {
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 80%;
	letter-spacing: 0.05em;
	color: $contentColor_A;
}

#cts-footer {
	padding: 0;
}

.block-quote {
	font-family: $fontB; 
	font-weight: 400;
	font-size: $std-fontSize * 2 + px;
	line-height: 150%;
	@media #{$media-mobile} {
		line-height: 125%;
	}
}

.subheading {
	font-size: $std-fontSize * 1.5 + px;
	text-align: center;
	padding: 20px 0 20px 0;
	font-weight: 400;
}

.fat-big-text {
	width: 100%; 
	text-align: center; 
	margin: 150px 0 150px 0;
	@media #{$media-mobile} {
		margin: 15px 0 15px 0;
	}
}

.standard-text {
	font-family: $fontB;
	font-weight: 400;
	line-height: 125%;
	> li {
		font-family: $fontB;
		font-weight: 400;
		line-height: 125%;
	}
}
