.media-item {
	width: 700px;
	margin: 15px;
	box-shadow: 5px 5px 20px #aaa;
	@media #{$media-mobile} {
		width: 100%;
	}
}
.video {
	display: inline-block;
	height: 393px;
	@media #{$media-mobile} {
		height: 100%;
	}
}

.soundcloud {
	&-large {
		height: 700px;
		@media #{$media-mobile} {
		height: 450px;
		}
	}
	&-small {
		height: 450px;
		@media #{$media-mobile} {
			height: 450px;
		}
	}
}

#surface-album {
	height: 1070px;
	@media #{$media-mobile} {
		width: 300px;
		height: 500px;
	}
}

.container-vertical-leftside {
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-end;
	@media #{$media-mobile} {
		align-items: center;
	}
}
.container-horizontal-center {
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
