/*
 * Reset CSS
 */

html {
	height: 100%;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	line-height: 1;
}

body {
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
li {
	list-style-type: none;
}
footer {
	display: none;
}
