==
<nav>
	<a href="{{ navlinks.home }}" id="home-button">cam sexton</a>
    <div id="nav--main-list" class="nav--main-list nav--main-list__closed">
        <a class="nice-border" href="{{ navlinks.about }}">about</a>
        <a class="nice-border" href="{{ navlinks.schedule }}">schedule</a>
		<div class="dropdown--container">
			<div id="dropdown--button" class="nice-border">
				work
			</div>
			<div id="dropdown--content" class="dropdown--content dropdown--content__closed">
				<a href="{{ navlinks.artistsites }}">artist sites</a>
				<a href="{{ navlinks.music }}">music</a>
				<a href="{{ navlinks.github }}">github<img id="git-logo" src="/storage/app/media/github_small.svg"/></a>
			</div>
		</div>
        <a class="nice-border" href="{{ navlinks.contact }}">contact</a>
    </div>
	<div id="menu-button">menu</div>
</nav>
