# Ignore everything especially env:
/*
/.env
/themes/*
/config/*
/plugins/*

# Include only the following
!/themes
!/themes/artistsite
!/config
!/config/api.php
!/plugins
!/plugins/camsexton
!/README.md
!/composer.json
!/composer.lock
!/package.json
!/package-lock.json
!/Gruntfile.js
!/.htaccess
