# Ignore everything especially env:
/*
/.env
/themes/*
/config/*

# Include only the following
!/themes
!/themes/artistsite
!/config
!/config/api.php
!/README.md
!/composer.json
!/package.json
!/Gruntfile.js
!/.htaccess
