/*
 *
 * Cam Sexton's
 * Artist/musician/band/venue website CSS
 *
 * Client: Lillian Albazi
 * Date: March 2018
 * 
 * Contents:
 *
 * 1. Global themes, background etc.
 * 1. Navigation bars
 * 2. Schedule (gig list layout)
 *
 */

/*
 * Section 1: Global themes
 */


* {
	box-sizing: border-box;
	}

body {
	background-color: #000000;
	background-image:url("./assets/lillian.jpg");
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: right 5% top 100px;
	background-attachment: fixed;
	font-size: 30px;
	font-weight: 400;
	color: #ffffff;

	}



/* 
 * Section 2: Navigation
 */


.cts-navbar {
	position: fixed;
	display: flex;
	justify-content; flex-start;
	flex-wrap: nowrap;
	align-items: center;
	overflow: hidden;
	background: linear-gradient(#222222, #000000);
	width: 100%;
	top: 0;
	height: 100px;
	padding: 0px;
	font-family: 'Mr Dafoe', cursive;
	}

.cts-navbar__main-list {
	list-style-type: none;
	float: left;
	overflow: hidden;
	font-size: 120%;
	display: inline-block;
	height: 60px;
	color: #ffffff;
	text-decoration: none;
}

.cts-navbar__main-list li {
	display: inline-block;
	border-bottom: solid 3px transparent;
	border-radius: 0;
	margin-right: 15px;
	padding: 10px;
	transition: border 500ms;
}

#hamburger {
	display: none;
}

@media only screen and (max-width: 600px) {
	.cts-navbar {
		justify-content: center;
	}
	.cts-navbar__main-list {
		display: none;
	}

	body {
		background-size: 100%;
		
	}
	#cts-home-button {
		display: block;
		width: 100%;
		text-align: right;
		float: none;
	}

	#hamburger {
		display: none;
		position: fixed;
		right: 5%;
		top: 5%;
		font-size: 150%;
	}
}

.cts-navbar__main-list li a {
	text-decoration: none;
	color: #ffffff;
}

.cts-navbar__main-list li:hover {
	border-bottom: solid 3px #ffffff;
	transition: border 250ms;
}

#cts-home-button {
	display: inline-block;
	height: 50px;
	width: 350px;
	white-space: nowrap;
	background-color: transparent;
	text-decoration: none;
	color: #ffffff;
	float: left;
	letter-spacing: 0.1em;
	line-height: 75%;
	margin: 15px;
	font-family: 'Mr Dafoe', cursive;
	font-size: 150%;
	font-weight: 400;
	text-align: center;
	transform: rotate(-3deg);
	transition: font-size 500ms;
}

#cts-home-button:hover {
	font-size: 160%;
	transition: font-size 500ms;
}

@media only screen and (max-width: 480px) {
	.cts-navbar {
		height: 70px;
	}
	#cts-home-button {
		font-size: 110%;
	}
	#cts-home-button:hover {
	font-size: 110%;
	}
	#hamburger {
		font-size: 130%;
	}

}

.cts-page-title {
	position: fixed;
	display: none;
	width: 50%;
	text-align: left;
	font-family: 'Libre Baskerville', serif;
	color: #ffffff;
	background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 50px;
	text-indent: 10%;
	line-height: 200%;
}

@media only screen and (max-width: 1000px) {
	.cts-page-title {
		display: none;
	}


}

.cts-main-content {
	width: 45%;
	display: flex;
	margin-top: 220px;
	margin-left: 5%;
	margin-right: auto;
	font-family: 'Libre Baskerville', serif;
	letter-spacing: 0.01em;
	line-height: 150%;
}

@media only screen and (max-width: 600px) {
	body {
		background-size: 100%;
	}
	.cts-main-content {
		width: 100%;
		padding: 10px;
		margin: 0;
		margin-top: 120px;

	}
}

/*
 * Section 3: Schedule list layout
 */

#php-schedule {
	width: 100%;
	font-size: 80%;
}

#php-schedule li {
	text-align: left;
	background-color: rgba(200,200,200,0.2);
	margin-top: 3%;
	line-height: 150%;
	padding: 20px;
	cursor: pointer;
}

#php-schedule li:hover {
	background-color: rgba(255,255,255,0.3);
}

.php-gCal__details {
	font-size: 75%
}

.php-gCal__title {
	font-weight: 700;
	font-size: 100%;
}
