table tr td {
	border: 1px solid black;
	font-size: 100px;
	padding: 20px;
	cursor: pointer;
	background: #ffdd00;
}

table {
	border-collapse: collapse;
	text-align: center;
	
}

.calc {
	display: flex;
	justify-content: center;
}

.submit {
	display: flex;
	justify-content: flex-end;
	padding: 20px;
	font-size: 100px;

}

.calcDisplay {
	border: 1px solid black;
	font-size: 100px;
	padding 20px;
	background: #999999;
	text-align: right;
}
