/*
 *
 * Cam Sexton's
 * Artist/musician/band/venue website CSS
 *
 * Client: Cam Sexton
 * Date: March 2018
 * 
 * Contents:
 *
 * 1. Global themes, background etc.
 * 1. Navigation bars
 * 2. Schedule (gig list layout)
 *
 */

/*
 * Section 1: Global themes
 */


* {
	box-sizing: border-box;
	}

body {
	background-color: #ff64ee;
	font-family: 'Karla', sans-serif;
	font-size: 25px;
	font-weight: 600;
	color: #ffffff;

	}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #555;
    margin: 1em 0;
    padding: 0;
}


/* 
 * Section 2: Navigation
 */


.cts-navbar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	align-items: center;
	overflow: hidden;
	background: rgba(0,0,0,0.7);
	width: 100%;
	top: 0;
	height: 50px;
	padding: 0px;
	font-family: 'Karla', sans-serif;
	text-transform: uppercase;
	}

.cts-navbar__main-list {
	list-style-type: none;
	background-color: transparent;
	overflow: hidden;
	font-size: 75%;
	line-height: 100%;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	align-items: center;
	color: #ffffff;
	text-decoration: none;
}

.cts-navbar__main-list li {
	display: inline-block;
	border: solid 3px transparent;
	border-radius: 3px;
	padding: 5px;	
	margin-right: 15px;
	transition: border 500ms;
}

#hamburger {
	display: none;
}

@media only screen and (max-width: 800px) {
	.cts-navbar__main-list {
		display: none;
	}

	body {
		background-size: 100%;
		
	}

	#hamburger {
		display: inline-block;
		text-align: center;
		font-size: 100%;
		line-height: 100%;
	}
}

.cts-navbar__main-list li a {
	text-decoration: none;
	color: #ffffff;
}

.cts-navbar__main-list li:hover {
	border: solid 3px #ffffff;
	transition: border 250ms;
}

#cts-home-button {
	display: inline-block;
	background-color: transparent;
	width: 200px;
	white-space: nowrap;
	text-decoration: none;
	color: #ffffff;
	letter-spacing: 0.05em;
	line-height: 100%;
	font-family: 'Karla', sans-serif;
	font-size: 100%;
	font-weight: 600;
	text-align: center;
	transition: font-size 500ms;
	border: solid 3px transparent;
}

/*
@media only screen and (max-width: 480px) {
	.cts-navbar {
		height: 70px;
	}
	#cts-home-button {
		font-size: 100%;
	}
	
	#hamburger {
		font-size: 130%;
	}

}

.cts-page-title {
	position: fixed;
	display: none;
	width: 50%;
	text-align: left;
	font-family: 'Libre Baskerville', serif;
	color: #ffffff;
	background: linear-gradient(rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%);
	margin-top: 100px;
	padding-top: 10px;
	padding-bottom: 50px;
	text-indent: 10%;
	line-height: 200%;
}

@media only screen and (max-width: 600px) {
	.cts-page-title {
		display: none;
	}


}
*/
.cts-main-content {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 25%;
	font-family: 'Raleway', sans-serif;
	letter-spacing: 0.01em;
	line-height: 100%;
	font-size: 100%;
}
/*
@media only screen and (max-width: 600px) {
	body {
		background-size: 100%;
	}
	.cts-main-content {
		width: 100%;
		padding: 10px;
		margin: 0;
		margin-top: 120px;

	}
}
*/
/*
 * Section 3: Schedule list layout
 */

#php-schedule {
	width: 100%;
	font-size: 100%;
}

#php-schedule li {
	text-align: left;
	background-color: rgba(200,200,200,0.2);
	margin-top: 3%;
	line-height: 150%;
	padding: 20px;
	cursor: pointer;
}

#php-schedule li:hover {
	background-color: rgba(255,255,255,0.3);
}

.php-gCal__details {
	font-size: 75%
}

.php-gCal__title {
	font-weight: 700;
	font-size: 100%;
}
#about-text {
	background-color: transparent;
	padding: 20px;
	margin: 20px;
}
@media only screen and (max-width: 600px) {
	#about-text {
		background-color: rgba(200, 200, 200, 0.2);
		padding: 20px;
		margin: 20px;
	}
}
