{% extends './base.html.twig' %}

{% block cts_main_content %}
<div class="cts-page-title">
	Who & What
	</br>
</div>
<div class="cts-main-content_section">
	<div style="display: flex; align-items: center">
		<img src="./assets/cam_forest.jpg" style=""/>
		<div style="padding: 15px">
			<h1>Hi! I'm Cam.</h1><br><h2>A musician & programmer from Melbourne, Australia.</h2> 
		</div>
	</div>
	<br>
	<h2 style="text-align: right">I help artists to make cool stuff that doesn't break.</h2><br>
	<h2>Here are some of the things I do:</h2>
	<br>
	<ul style="line-height: 150%; margin-left: 15%;">
		<li>web development (php, javascript, html, css, react)</li>
		<li>designing new, software-based musical instruments (SuperCollider, Pd, Max)</li>
		<li>recording/mixing/audio production</li>
		<li>drumming</li>
		<li>writing songs for myself and others</li>
	</ul>
	<br>
	I built this website (you can view the code <a href="https://github.com/ctsexton/web-projects/tree/master/camsexton.com">here</a>) and I can make one for you too!
</div>

{% endblock %}
