<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="styles/reset.css">
		<link rel="stylesheet" href="styles/styles.css">
		<meta name="viewport" content="width=device-width">
		<link href="https://fonts.googleapis.com/css?family=Karla|Raleway" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="cts-navbar">
				<a href="{{ navlinks.home }}" id="cts-home-button">cam sexton</a>
				<ul class="cts-navbar__main-list">
					<li><a href="{{ navlinks.about }}">about</a></li>
					<li><a href="{{ navlinks.schedule }}">schedule</a></li>
					<li>work
						<ul style="display: none">
							<li>web</li>
							<li>music</li>
							<li>instruments</li>
							<li>teaching</li>
							<li>discography</li>
						</ul>
					</li>
					<li><a href="{{ navlinks.contact }}">contact</a></li>
				</ul>
				<div id="hamburger">&#9776;</div>
			</div>
		</header>
		<div class="cts-main-content">
			{% block cts_main_content %}
			{% endblock %}
		</div>
	</body>
</html>
