{% extends './base.html.twig' %}

{% block cts_main_content %}
	<div class="cts-page-title">
		Complaints
	</div>
	<form class="contact-form" method="post" action="{{ navlinks.submit }}">
			Your Name:<br>
			<input type="text" name="name" style="width: 50%"><br>
			Email:<br>
			<input type="text" name="email" size="40" style="width: 50%"><br>
			Message:<br>
			<textarea name="message" cols="50" rows="10"></textarea><br>
			<button name="submit" type="submit">Submit</button>
	</form>
{% endblock %}
