{% extends "./base.html.twig" %}

{% block cts_main_content %}
	Recordings Available:<br>
	<br>
	<ul>
		<li>Textures - Cam Sexton (2018)</li>
		<li>It's Not What You Say (Single) - DISCOJESUS (2018)</li>
		<li>Mingus Thingus (2017)</li>
		<li>RIDETHEBEAR (2017)</li>
		<li><i>Next</i> - The Surface Project (2015)</li>
	</ul>
{% endblock %}
