{% extends "./base.html.twig" %}

{% block cts_main_content %}
	Some instruments I have built:<br><br>
	<ul>
		<li><i>The Sextone</i> Polyphonic Harmonizer (SuperCollider)</li>
		<li><i>Electric Sheep Textural Synthesizer</i> (Max Patch)</li>
		<li>MIDI Foot Pedal</li>
	</ul>
	<br><br>
	I have a collection of useful Pure Data and Max patches available on github. These include:
	<ul>
		<li>Buffer Loaders (automatically entire folders of audio files into buffers in both Max and Pd</li>
		<li>Rotary Encoder Patches for use with MIDI controllers such as the MIDI Fighter Twister</li>
		<li>MIDI parsers to integrate the Novation LAUNCH products (launchpad, launchcontrol, launchkey) into Pd patches and use the grid system used in MONOME grids</li>
	</ul>
{% endblock %}
