{% extends './base.html.twig' %}

{% block cts_main_content %}
	<div class="cts-page-title">
		Upcoming Events
	</div>
	<div class="cts-main-content_section">
		<ul id="php-schedule">
			{% for item in schedule %}
				<li>
					<div class='php-gCal__title'>{{ item.gigTitle }}</div>
					<div class='php-gCal__details'>
						{{ item.date_time }} <br>
						{{ item.venue }} <br>
						{{ item.desc }} 
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
