{% extends "./base.html.twig" %}

{% block cts_main_content %}
Styles: Jazz, Rock, Pop, Funk, Classical, Latin, etc.
<br>
Skill Level: Beginner, Intermediate, Advanced
<br>
Pricing: $30 per half hour if you come to me, $40 if I come to you.
<br>
Hi drummers!
<br>
Generally my lessons are very focused on building the skills you need to play in a band. I create a comfortable but challenging environment to push students to achieve their best.
<br>
Topics covered include:
<ul>
	<li>Keeping time in different styles (rock, pop, jazz, hip hop etc.) </li>
	<li>Playing along to recordings</li>
	<li>Reading notated musi</li>
	<li>Hand technique</li>
	<li>Coordination</li>
	<li>Soloing/Improvising</li>
</ul>
<br>
I have been very fortunate to have studied with some very inspiring drummers & musicians in Australia and overseas. I do my best to pass on what they taught me with the same enthusiasm, which hopefully translates to both fun and challenging lessons for you!
<br>
Lessons are conducted from my teaching space in Glen Iris, however it is also possible to arrange lessons at the student’s house. I hold a valid Working With Children Check.
<br>
Bio:<br>
Cameron Sexton is an experienced Melbourne drummer available for private lessons in Malvern and surrounding suburbs. Having studied & worked with world class musicians in both Australia and overseas, Cameron is a versatile musician and inspiring educator. Cameron has participated in the prestigious Banff Workshop in Jazz & Creative Music in Canada, attended the New York University’s Steinhardt Summer Jazz program and holds a Bachelor of Music from Monash University, Melbourne.
{% endblock %}
