/*
 * Section 3: Schedule list layout
 */

#php-schedule {
	width: 100%;
	font-size: 100%;
	
	li {
		text-align: left;
		background-color: $scheduleItem-background;
		margin-top: 3%;
		line-height: 150%;
		padding: 20px;
		cursor: pointer;

		&:hover {
			background-color: $scheduleItem-background__hover;
		}
	}
}

.php-gCal__details {
	font-size: 75%
}

.php-gCal__title {
	font-weight: 700;
	font-size: 100%;
}

